# Hello Jonathan,
#
# How is it going? I am a Senior Manager at Capital One and looking additional Mobile # Ninjas like myself.
# 
# You have some pretty interesting github projects. I was wondering if you had 10-15 # minutes to chat?
# 
# If interested, here is more about me: https://www.linkedin.com/in/jaredsheehan
# 
# Thanks!
# 
# Jared Sheehan
# jared.sheehan@capitalone.com

*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
